@model SendEmailModel

@{
    ViewData["Title"] = "Send Email";
}

<div class="container-xxl py-5 mx-auto">
    <h1 class="text-center">Send Ad Email</h1>
    <form method="post" asp-action="SendEmail">
        <div class="form-group mb-3">
            <label for="toEmail">To:</label>
            <input type="email" id="toEmail" name="ToEmail" class="form-control" required />
        </div>
        <div class="form-group mb-3">
            <label for="subject">Subject:</label>
            <input type="text" id="subject" name="Subject" class="form-control" required />
        </div>
        <div class="form-group mb-3">
            <label for="body">Body:</label>
            <textarea id="body" name="Body" class="form-control" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Send</button>
    </form>

    @if (ViewBag.Message != null)
    {
        <div class="alert alert-info" role="alert">
            @ViewBag.Message
        </div>
    }


    @* @if (Model.Message != null)
    {
    <div class="alert alert-info" role="alert">
    Model.Message
    </div>
    } *@

</div>